@using CheckersMVC.Models
@model CheckersMVC.ViewModels.PlayerStatsVM

@{
    ViewBag.Title = "Details";
}

<h2>@(Model.Stats.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Stats.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stats.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stats.GamesWonCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stats.GamesWonCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stats.GamesPlayedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stats.GamesPlayedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>Result</th>
        <th>Opponent</th>
        <th>Start time</th>
        <th>Duration time</th>
    </tr>
    @{
        foreach (var gameHistoryVm in Model.PlayedGames)
        {
            <tr>
                <td>@gameHistoryVm.Result</td>
                <td>
                    @Html.ActionLink(gameHistoryVm.OpponentName, "Details", new {id = gameHistoryVm.OpponentStatsId})
                </td>
                <td>@gameHistoryVm.StartDateTime</td>
                <td>@gameHistoryVm.GameDurationInMinutes</td>
            </tr>
            }
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
