
@model IEnumerable<CheckersMVC.ViewModels.RoomVM> 
@{
    ViewBag.Title = "Rooms";
}

<h2>Select room</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Player1)</th>
        <th>@Html.DisplayNameFor(model => model.Player2)</th>
        <th>@Html.DisplayNameFor(model => model.Owner)</th>
    </tr>
    
@foreach(var game in Model)
{
    <tr>
        <td> @Html.DisplayFor(modelItem => game.Name)</td>
        @if (game.Player1 == null)
        {
            <td>-</td>
        }
        else
        {
            <td> @Html.DisplayFor(modelItem => game.Player1)</td>
        }
        @if (game.Player2 == null)
        {
            <td>-</td>
        }
        else
        {
            <td> @Html.DisplayFor(modelItem => game.Player2)</td>
        }
        @if (game.Owner == null)
        {
            <td>-</td>
        }
        else
        {
            <td> @Html.DisplayFor(modelItem => game.Owner)</td>
        }
        <td>
            @Html.ActionLink("Enter room", "Index", "Game", new { id = game.GameID }, null)
        </td>
    </tr>
}
</table>

